[user]
  name = Yusuke Sasajima
  email = sisijumi@gmail.com
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/develop/.gitignore_global
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cl = clone
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
