[user]
  name = Yusuke Sasajima
  email = zimathon@gmail.com
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/sasajimay/.gitignore
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cl = clone
    ps = push
    see = browse
    pr = pull-request
    p = !git push origin `git rev-parse --abbrev-ref HEAD`
